<div ibmGrid class="bx--grid--full-width landing-page">
	<div ibmRow class="landing-page__r3">
		<div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
			<app-info-card></app-info-card>
			<!-- <h3 class="landing-page__label">The Principles</h3> -->
		</div>
		<div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
				<app-info-card></app-info-card>
			<!-- Carbon is Open -->
			</div>
		<div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
				<app-info-card></app-info-card>
				<!-- Carbon is Modular  -->
				</div>
		<div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
			<app-info-card></app-info-card>
			<!-- Carbon is Consistent -->
		</div>
	</div>
</div>
