@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family";

@mixin info-section-background() {
	background-color: $ui-01;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		left: -$spacing-05;
		top: 0;
		right: -$spacing-05;
		bottom: 0;
		background: $ui-01;
		z-index: -1;
	}
}

.info-section {
	@include info-section-background;
	display: flex;
	height: fit-content;

	&.info-section__r1 {
		padding-top: $spacing-09;
		padding-bottom: $spacing-09;
		height: auto;
	}

	.info-section__heading {
		@include carbon--type-style("heading-01");
		@include carbon--font-weight("semibold");
	}

	app-info-card {
		margin-top: $spacing-09;
	}

	// top border in only small breakpoints to prevent overrides
	@include carbon--breakpoint-down(md) {
		app-info-card:not(:nth-child(2)) {
			border-top: 1px solid $ui-03;
			padding-top: $spacing-09;
		}
	}

	// left border in just the 2nd column items
	@include carbon--breakpoint(md) {
		app-info-card:nth-child(odd) {
			border-left: 1px solid $ui-03;
		}
	}

	// left border in all items
	@include carbon--breakpoint(lg) {
		app-info-card {
			margin-top: 0;
			border-left: 1px solid $ui-03;
		}
	}
}
