.bx--grid--full-width {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bx--grid--full-width .bx--row {
    margin-left: 0;
    margin-right: 0;
}

.lading-page__r2 .bx--tabs__nav {
    right: 0;
}

.bx--header__nav {
    display: block;
}