/* You can add global styles to this file, and also import other style files */
@import './assets/scss/carbon-overrides.scss';

$feature-flags: (
  grid-columns-16: true
);

@import "~carbon-components/scss/globals/scss/styles";

.bx--header__nav {
	display: block;
}
